# macOS
.DS_Store

# build
build/
dist/
bin/
obj/
*.o
*.so

# node
node_modules/

# python
__pycache__/
*.pyc
.env

# IDEs
.vscode/
.idea/
*.iml

# Xcode
*.xcworkspace
xcuserdata/
DerivedData/

# logs
*.log
